@tailwind base;
@tailwind components;
@tailwind utilities;

.p-2.md\:p-10.rounded-tl-2xl.card {
    transition: margin-left 0.3s ease-in-out; 
  }

  html {
    scroll-behavior: smooth;
  }
  
  body {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }